body{
    background-color: #f5f8fa;
}

span.group-name{
    line-height: 30px;
}

.round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:38px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:40px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
    text-decoration: none;
    color: #4099FF;
    border-color: #4099FF;
}

.round-button:active {
    background: #262626;
    text-decoration: none;
    color: #4099FF;
    border-color: #4099FF;
}

.thought-tile-selected{
    border: 1px solid #4099FF;
}