{% extends "layout.html" %}
{% block sidebar %}
  <strong><span id="focused-group-name">{{groups[0].hashtagString | hashtagToGroupname | capitalize}}</span></strong>
  {% if groups[0].user_photos | length > 3 %}
    <button style="float:right; margin-top: -5px; margin-right: 2px;
    margin-left: 2px;" type="button" class="btn btn-default btn-circle"><i class="glyphicon"></i>
    <span id="focused-more-avatars">{{groups[0].user_photos | length - 3}}</span>
    </button>
  {% endif %}
  <span id="focused-group-avatars">
    {% if groups[0].user_photos | length <= 3 %}
      {% for avatar in groups[0].user_photos %}
        <img src="{{avatar}}" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
        margin-left: 2px;" alt="Circular Image">
      {% endfor %}
    {% else %}
      {% for avatar in groups[0].user_photos[:3] %}
        <img src="{{avatar}}" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
        margin-left: 2px;" alt="Circular Image">
      {% endfor %}
    {% endif %}
  </span>
  <br></br>
  <span id="focused-group-tweets">
    <p>
      {% for tweet in groups[0].tweets %}
        {% if tweet.is_question %}
          <span style="background-color: #E0F8E0">{{tweet.text}}</span>
        {% else %}
          {{tweet.text}}
        {% endif %}
      </p>
    {% endfor %}
  </span>
  <nav class="navbar navbar-default navbar-fixed-bottom" style="float: left; height: 22vh; background-color:transparent; border: none; margin-left:15px;">
    <a style="float:right; margin-top: 10vh; margin-right: 5vh;" href="#" class="round-button">+</a>
    <textarea class="form-control" style="height: 22vh; width: 30.8vw; background-color:white;">Add to the conversation here...</textarea>
  </nav>
{% endblock %}
{% block content %}
  <span id="allTweets">
  {% include 'tweettile.html' %}
  </span>
  {% endblock %}
  {% block scripts %}
    <script type="text/javascript" src="../static/js/stream.js"></script>
  {% endblock %}