{% extends "layout.html" %}

{% block sidebar %}
  <span id="focusThread">
  <strong><span id="focused-group-name">{{groups[0].hashtagString | hashtagToGroupname | capitalize}}</span></strong>
  {% if groups[0].user_photos | length > 3 %}
    <button style="float:right; margin-top: -5px; margin-right: 2px;
    margin-left: 2px;" type="button" class="btn btn-default btn-circle"><i class="glyphicon"></i>
    <span id="focused-more-avatars">{{groups[0].user_photos | length - 3}}</span>
    </button>
  {% endif %}
  <span id="focused-group-avatars">
    {% if groups[0].user_photos | length <= 3 %}
      {% for avatar in groups[0].user_photos %}
        <img src="{{avatar}}" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
        margin-left: 2px;" alt="Circular Image">
      {% endfor %}
    {% else %}
      {% for avatar in groups[0].user_photos[:3] %}
        <img src="{{avatar}}" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
        margin-left: 2px;" alt="Circular Image">
      {% endfor %}
    {% endif %}
  </span>
  <br></br>
  <span id="focused-group-tweets">
    <p>
      {% for tweet in groups[0].tweets %}
        {% if tweet.is_question %}
          <span style="background-color: #E0F8E0">{{tweet.text}}</span>
        {% else %}
          {{tweet.text}}
        {% endif %}
      </p>
    {% endfor %}
  </span>
  </span>
  <span id="newThread" style="display:none;">
    <div class="input-group new-group-form">
      <span class="input-group-addon" id="basic-addon1">#</span>
      <input type="text" class="form-control" placeholder="New group name" aria-describedby="basic-addon1">
    </div>
  </span>
  <nav class="navbar navbar-default navbar-fixed-bottom" style="float: left; height: 22vh; background-color:transparent; border: none; margin-left:15px;">
    <a style="float:right; margin-top: 10vh; margin-right: 5vh;" class="round-button" id="new-thread-button">+</a>
    <div style="height: 22vh; width: 30.8vw; background-color:white;">
      <textarea id="tweet-textarea" style="height: 15vh; border-radius: 0px;" class="form-control" placeholder="Add to the conversation here..." maxlength="{{140 - hashtag_to_send | length}}"></textarea>
      <button class="btn btn-primary" style="background-color:#4099FF; margin-top:5px; float:right; border: 0px; border-radius: 0px;"> Send </button>
      <span style="float: right; margin-right: 10px; margin-top: 10px;"><span id="charsLeft">{{140 - hashtag_to_send | length}}</span> / <span id="charsTotal">{{140 - hashtag_to_send | length}} </span> </span>
    </div>
  </nav>


{% endblock %}

{% block content %}
  <span id="allTweets">
  {% include 'tweettile.html' %}
  </span>
  {% endblock %}
  {% block scripts %}
    <script type="text/javascript" src="../static/js/stream.js"></script>
  {% endblock %}