{% extends "layout.html" %}
{% block sidebar %}
  <h4>#GroupName1
  <button  style="float:right; margin-top: -5px; margin-right: 2px;
  margin-left: 2px;" type="button" class="btn btn-default btn-circle"><i class="glyphicon"></i>4+</button>
  <img src="../static/images/profile_picture.png" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
  margin-left: 2px;" alt="Circular Image">
  <img src="../static/images/profile_picture.png" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
  margin-left: 2px;" alt="Circular Image">
  <img src="../static/images/profile_picture.png" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
  margin-left: 2px;" alt="Circular Image">
  <br></br>
  </h4>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  <nav class="navbar navbar-default navbar-fixed-bottom" style="height: 22vh; width: 30.8vw; background-color:white; margin-left:15px;">
    <div class="container">
      
      <textarea class="form-control" style="height: 22vh; width: 30.8vw; background-color:white; margin-left:-15px;">Add to the conversation here...</textarea>
      
    </div>
  </nav>
{% endblock %}
{% block content %}
  <div class="col-sm-4 col-md-4 " style="background-color:lavenderblush; height: 200px; overflow: scroll;">
    <button type="button" class="btn btn-default btn-lg" style="margin-left: 45px; width: 130px; height: 130px; background-color:#bde3d8;font-size: 40px;">
    <span class="glyphicon glyphicon-plus" style = aria-hidden="true">    </span>
    </button>
    
    <div class="input-group" style="margin-top: 10px;">
      <span class="input-group-addon" id="basic-addon2">#</span>
      <input type="text" class="form-control" placeholder="Name your new group!" aria-describedby="basic-addon1">
    </div>
  </div>
  {% for group in tweets %}
    <div class="col-sm-4 col-md-4" style="background-color:lavenderblush; height: 200px; overflow: scroll;">
      <img src="../static/images/profile_picture.png" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
      margin-left: 2px;" alt="Circular Image">
      <img src="../static/images/profile_picture.png" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
      margin-left: 2px;" alt="Circular Image">
      <img src="../static/images/profile_picture.png" class="img-circle" style="height:30px; width:30px; float:right; margin-top: -5px; margin-right: 2px;
      margin-left: 2px;" alt="Circular Image">
      <p>
        {{ tweets[group][0].text }}
      </p>
    </div>
  {% endfor %}
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="../static/js/stream.js"></script>
{% endblock %}