<!-- <a href="/logout" class="pull-right"> Logout </a>
<div class="page-header">
  <h1>ClassTweeter</h1>
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">#</span>
  <input type="text" class="form-control" placeholder="Twitter-Handle" aria-describedby="basic-addon1">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4">
      <div class="btn-group" role="group" aria-label="..." style="margin-bottom: 0px; margin-left: 10px; margin-top: 10px;">
        <button type="button" class="btn btn-default">favorite stuff</button>
        <button type="button" class="btn btn-default">somehting stuff</button>
        <button type="button" class="btn btn-default">another thing</button>
      </div>
    </div>
  </div>
</div> -->

<button style="float:right;" type="button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-refresh"></i></button>
<div class="col-md-offset-4">
  <div class="input-group input-group-lg" style="width: 300px; margin-left: -40px;">
    <span class="input-group-addon" id="basic-addon1">#</span>
    <input style="width: 300px;" type="text" class="form-control" placeholder="Twitter-Handle" aria-describedby="basic-addon1">
  </div>
</div>
<div class="col-md-offset-4">
  <div class="btn-group" role="group" aria-label="..." style="margin-bottom: 25px; margin-left: -35px; margin-top: 10px;">
    <button type="button" class="btn btn-default">favorite stuff</button>
    <button type="button" class="btn btn-default">somehting stuff</button>
    <button type="button" class="btn btn-default">another thing</button>
  </div>
</div>