<button style="float:right;" type="button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-refresh"></i></button>
<div class="row">
<div class="col-md-5 col-md-offset-4" style="">
  <center>
  <h3> <strong> #classtweeter </strong> </h3>
  <div class="btn-group" role="group" aria-label="..." style="margin-bottom: 25px; margin-top: 10px;" width="100%">
    <button id="sort-most-recent-button" type="button" class="btn btn-default">Most Recent</button>
    <button id="sort-my-thoughts-button" type="button" class="btn btn-default">My Thoughts</button>
  </div>
</center>
</div>
</div>