<button style="float:right;" type="button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-refresh"></i></button>
<div class="row">
<div class="col-md-offset-4">
  <div class="input-group input-group-lg" width="100%">
    <span class="input-group-addon" id="basic-addon1">#</span>
    <input style="width: 300px;" type="text" class="form-control" placeholder="classtweeter" aria-describedby="basic-addon1">
  </div>
</div>
</div>
<div class="row">
<div class="col-md-5 col-md-offset-4" style="">
  <center>
  <div class="btn-group" role="group" aria-label="..." style="margin-bottom: 25px; margin-top: 10px;" width="100%">
    <button type="button" class="btn btn-default">Most Recent</button>
    <button type="button" class="btn btn-default">Popular</button>
    <button type="button" class="btn btn-default">My Thoughts</button>
  </div>
</center>
</div>
</div>