<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<title>ClassTweeter</title>-->
    

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/css/newstyle.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <span style="position: fixed; z-index: 100000000; right: 20px; bottom: 20px;"><a style="float:right; margin-top: 10vh; margin-right: 5vh;" class="round-button" id="new-thread-button">+</a></span>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="sidebar-wrapper">
            {% include 'sidebar.html' %}
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        
                        <center>
                            
                            <h2 class="hashtagToTrack">
                            <span id="hashtagToTrack-js">
                               
                            </span>
                            </h2>
                        </center>
                    </div>
                </div>

                <span id="tweetcard-js">
                    
                    {% include 'tweetcard.html' %}
                    
                </span>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/stream.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/newstream.js"></script>
    

</body>

</html>
