<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} ClassTweeter {% endblock %}</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-sm-4 col-md-4" style="background-color:lavenderblush; margin-top: 0px; padding-right: 15px;
                padding-left: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                border-radius:0px;
                /*outline: 2px solid #ccc;*/
                margin-right: 5px;
                margin-left: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
                height:80vh;
                overflow:scroll;">
        {% block sidebar %}{% endblock %}
      </div>
      
      <div class="col-sm-4 col-md-8" style= "margin-top: 0px; margin-left: 5px; ">
        {% include 'header.html' %}
        {% block content %}{% endblock %}
      </div>
      
      
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>