<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<title>ClassTweeter</title>-->
    

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/css/newstyle.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div style="margin-top: 10px; margin-bottom: 50px; margin-left: 20px">
                    <center>
                    <h3> <strong> About Classtweeter </strong> </h3>
                    </center>
                    <br>
                    Classtweeter is a backchannel for discussion for large in  person classes like the T-Five-Fifty. The goal is to allow more dynamic conversations in a class and diverging thougts that lead to interesting discussions which would not be possible in large classrooms otherwiswe. Use this platform to start new threads of conversations, add to existing threads, or to just follow interesting thoughts.     
                    
                </div>
<div>
    <center>
        <strong> Basic Functionality </strong> 
    </center>
    <center>
    <img src="../static/images/classtweeter_help.png" style="margin-top: 20px; margin-bottom: 10px; max-width:700px; max-height:600px;">
    
    
</center>

</div>
<footer>
    <center>
  <address>
Have a doubt? Contact us: <a href="mailto:juliana@media.mit.edu">Juliana Nazare</a>, <a href="mailto:harshit@media.mit.edu">Harshit Agrawal</a>.<br>
</address>
</center>
</footer>

</body>

</html>